<%= form_for(@convite) do |f| %>
  <% if @convite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convite.errors.count, "error") %> prohibited this convite from being saved:</h2>

      <ul>
      <% @convite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anfitriao %><br>
    <%= f.text_field :anfitriao, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :anos %><br>
    <%= f.number_field :anos, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :dataevento %><br>
    <%= f.text_field :dataevento,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :horainicio %><br>
    <%= f.text_field :horainicio,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :horafinal %><br>
    <%= f.text_field :horafinal,class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
