<p id="notice"><%= notice %></p>

<p>
  <strong>Anfitriao:</strong>
  <%= @convite.anfitriao %>
</p>

<p>
  <strong>Anos:</strong>
  <%= @convite.anos %>
</p>

<p>
  <strong>Dataevento:</strong>
  <%= @convite.dataevento %>
</p>

<p>
  <strong>Horainicio:</strong>
  <%= @convite.horainicio %>
</p>

<p>
  <strong>Horafinal:</strong>
  <%= @convite.horafinal %>
</p>

<%= link_to 'Voltar', convites_path, class:"btn btn-voltar btn-xs"%>
